{% extends 'NetgenBlockManagerBundle:api/form:form.html.twig' %}

{% trans_default_domain 'ngbm_query_forms' %}

{% block children %}
    {% set parameters = form.children.parameters %}

    {{ form_row(parameters.children.parent_location_id) }}
    {{ form_row(parameters.children.sort_type) }}
    {{ form_row(parameters.children.sort_direction) }}
    {{ form_row(parameters.children.limit) }}

    <a class="toggle-link" role="button" data-toggle="collapse" href="#collapseAdvanced" aria-expanded="false" aria-controls="collapseAdvanced">
        {{ 'query.ezcontent_search.advanced_options'|trans }}
    </a>

    <div class="collapse" id="collapseAdvanced">
        {{ form_rest(parameters) }}
    </div>
{% endblock %}
