{% extends 'NetgenBlockManagerBundle:api/form:form.html.twig' %}

{% block children %}
    {% set parameters = form.children.parameters %}

    <p>BASIC PARAMS</p>

    {{ form_row(parameters.children.parent_location_id) }}
    {{ form_row(parameters.children.sort_type) }}
    {{ form_row(parameters.children.sort_direction) }}
    {{ form_row(parameters.children.limit) }}

    <p>ADVANCED PARAMS</p>

    {{ form_rest(parameters) }}
{% endblock %}
