{% extends '@NetgenBlockManager/block/block.html.twig' %}

{% import '@NetgenBlockManager/parts/macros.html.twig' as macros %}

{% block content %}

    {% if collections.default is defined %}
        <div class="thumb-swiper">
            <div class="gallery-top swiper-container"
                data-effect="{{ block.parameter('transition').value }}"
                {% if block.parameter('infinite_loop').value %}data-loop="true"{% endif %}
                {% if block.parameter('autoplay').value %}data-autoplay="{{ block.parameter('autoplay_time').value }}"{% endif %}
                {% if block.parameter('number_of_thumbnails').value %}data-slides-per-view="{{ block.parameter('number_of_thumbnails').value }}"{% endif %}
            >
                <div class="swiper-wrapper">
                    {% for result in collections.default %}
                        <div class="swiper-slide">
                            {{ ngbm_render_item(result.item, block.itemViewType, {
                                ezparams: {
                                    image_type: 'main',
                                    show_details: block.parameter('show_details').value,
                                    show_details_on_hover: block.parameter('show_details_on_hover').value
                                }
                            }) }}
                        </div>
                    {% endfor %}
                </div>
                {% if block.parameter('next_and_previous').value %}
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                {% endif %}
            </div>

            <div class="swiper-container gallery-thumbs">
                <div class="swiper-wrapper">
                    {% for result in collections.default %}
                        <div class="swiper-slide">
                            {{ ngbm_render_item(result.item, block.itemViewType, {
                                ezparams: {
                                    image_type: 'thumb',
                                    show_details: block.parameter('show_details').value,
                                    show_details_on_hover: block.parameter('show_details_on_hover').value
                                }
                            }) }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
   {% endif %}

{% endblock %}
