{% trans_default_domain 'ngbm_app' %}

{% if collection is not empty %}
    {% set type_manual = constant('TYPE_MANUAL', collection) %}
    {% set type_dynamic = constant('TYPE_DYNAMIC', collection) %}
    {% set type_named = constant('TYPE_NAMED', collection) %}

    {% set collection_types = {
        (type_manual): 'block.edit.collection_type.manual_collection'|trans,
        (type_dynamic): 'block.edit.collection_type.dynamic_collection'|trans,
        (type_named): 'block.edit.collection_type.named_collection'|trans
    } %}

    <div class="xeditable" data-xeditable-name="collection_type">
        <div class="current">
            <label>{{ 'block.edit.collection_type'|trans }}</label>
            <a href="#" class="js-edit"><span>{{ collection_types[collection.type] }}</span> <i class="fa fa-pencil"></i></a>

            {% if collection.type == type_dynamic and query_types[collection.queries[0].type] is defined %}
                <label>{{ 'block.edit.query_type'|trans }}</label>
                <a href="#" class="js-edit"><span>{{ query_types[collection.queries[0].type].config.name }}</span> <i class="fa fa-pencil"></i></a>
            {% elseif collection.type == type_named %}
                <label>{{ 'block.edit.named_collection'|trans }}</label>
                <a href="#" class="js-edit"><span>{{ collection.name }}</span> <i class="fa fa-pencil"></i></a>
            {% endif %}

        </div>

        <div class="form js-dependable-selects-group">
            <div>
                <label for="collection-type">{{ 'block.edit.collection_type'|trans }}</label>
                <select id="collection-type" name="block_collection[new_type]" class="js-skip-on-change js-master">
                    {% for collection_type, collection_name in collection_types %}
                        <option {% if collection.type == collection_type %} selected="selected" {% endif %} value="{{ collection_type }}">{{ collection_name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="js-dependable" data-linked-value="{{ type_dynamic }}">
                <label for="query-types">{{ 'block.edit.query_type'|trans }}</label>
                <select id="query-types" name="block_collection[query_type]" class="js-skip-on-change">
                    {% for query_type in query_types %}
                        <option {% if collection.queries[0] is defined and collection.queries[0].type == query_type.type %} selected="selected" {% endif %} value="{{ query_type.type }}">{{ query_type.config.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="js-dependable" data-linked-value="{{ type_named }}">
                <label for="named-collections">{{ 'block.edit.named_collection'|trans }}</label>
                <select id="named-collections"  name="block_collection[named_collection_id]">
                    {% for named_collection in named_collections %}
                        <option {% if collection.id == named_collection.id %} selected="selected" {% endif %} value="{{ named_collection.id }}">{{ named_collection.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="actions">
                <a href="#" class="btn btn-link js-cancel">{{ 'block.edit.cancel'|trans }}</a>
                <a href="#" class="btn btn-primary js-apply">{{ 'block.edit.apply'|trans }}</a>
            </div>
        </div>
    </div>
{% endif %}
