{% trans_default_domain 'ngbm_app' %}

{% if collection is not empty %}
    {% set type_manual = constant('TYPE_MANUAL', collection) %}
    {% set type_dynamic = constant('TYPE_DYNAMIC', collection) %}
    {% set type_named = constant('TYPE_NAMED', collection) %}

    {% set collection_types = {
        (type_manual): 'block.edit.collection_type.manual_collection'|trans,
        (type_dynamic): 'block.edit.collection_type.dynamic_collection'|trans,
        (type_named): 'block.edit.collection_type.named_collection'|trans
    } %}

    <div class="xeditable" data-xeditable-name="collection_type">
        <div class="current">
            <div>{{ 'block.edit.collection_type'|trans }}: {{ collection_types[collection.type] }}</div>

            {% if collection.type == type_dynamic and query_types[collection.queries[0].type] is defined %}
                <div>{{ 'block.edit.query_type'|trans }}: {{ query_types[collection.queries[0].type].config.name }}</div>
            {% elseif collection.type == type_named %}
                <div>{{ 'block.edit.named_collection'|trans }}: {{ collection.name }}</div>
            {% endif %}

            <a href="#" class="js-edit">
                <i class="fa fa-pencil"></i>
            </a>
        </div>

        <div class="form">
            <div>
                <label for="collection-type">{{ 'block.edit.collection_type'|trans }}</label>
                <select id="collection-type" class="js-skip-on-change">
                    {% for collection_type, collection_name in collection_types %}
                        <option {% if collection.type == collection_type %} selected="selected" {% endif %} value="{{ collection_type }}">{{ collection_name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div>
                <label for="query-types">{{ 'block.edit.query_type'|trans }}</label>
                <select id="query-types" class="js-skip-on-change">
                    {% for query_type in query_types %}
                        <option {% if collection.queries[0] is defined and collection.queries[0].type == query_type.type %} selected="selected" {% endif %} value="{{ query_type.type }} ">{{ query_type.config.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div>
                <label for="named-collections">{{ 'block.edit.named_collection'|trans }}</label>
                <select id="named-collections">
                    {% for named_collection in named_collections %}
                        <option {% if collection.id == named_collection.id %} selected="selected" {% endif %} value="{{ named_collection.id }} ">{{ named_collection.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <a href="#" class="btn btn-default js-cancel">{{ 'block.edit.cancel'|trans }}</a>
            <a href="#" class="btn btn-primary js-apply">{{ 'block.edit.apply'|trans }}</a>

        </div>
    </div>
{% endif %}
