{% trans_default_domain 'ngbm_app' %}

<section>
    {% if block_definition.config.hasForm('full') %}
        {% include 'NetgenBlockManagerAdminUIBundle:app/block/edit:collections.html.twig' %}

        <div data-form="{{ path('netgen_block_manager_api_v1_block_form', {'blockId': block.id, 'formName': 'full'}) }}"></div>

        {% include 'NetgenBlockManagerAdminUIBundle:app/block/edit:collection_query.html.twig' %}
    {% elseif block_definition.config.hasForm('design') and block_definition.config.hasForm('content') %}
        <div id="aside-tabs">
            <ul class="aside-tab-control">
                <li><a id="content">{{ 'block.edit.tabs.content'|trans }}</a></li>
                <li><a id="design">{{ 'block.edit.tabs.design'|trans }}</a></li>
            </ul>

            <div class="tab-pane" id="content-tab">
                {% include 'NetgenBlockManagerAdminUIBundle:app/block/edit:collections.html.twig' %}

                <div data-form="{{ path('netgen_block_manager_api_v1_block_form', {'blockId': block.id, 'formName': 'content'}) }}"></div>

                {% include 'NetgenBlockManagerAdminUIBundle:app/block/edit:collection_query.html.twig' %}
            </div>

            <div class="tab-pane" id="design-tab">
                <div data-form="{{ path('netgen_block_manager_api_v1_block_form', {'blockId': block.id, 'formName': 'design'}) }}"></div>
            </div>
        </div>
    {% endif %}
</section>

{% if collection is not empty %}
    <section>
        <div data-browser-config-name="ezcontent" class="collection-items"></div>
    </section>
{% endif %}
