{% if collection is not empty %}
    {% set type_manual = constant('TYPE_MANUAL', collection) %}
    {% set type_dynamic = constant('TYPE_DYNAMIC', collection) %}
    {% set type_named = constant('TYPE_NAMED', collection) %}

    <div>
        <label for="collection-type">Collection</label>
        <select id="collection-type">
            <option {% if collection.type == type_manual %} selected="selected" {% endif %} value="{{ type_manual }}">Manual collection</option>
            <option {% if collection.type == type_dynamic %} selected="selected" {% endif %} value="{{ type_dynamic }}">Dynamic collection</option>

            {% if named_collections is not empty %}
                <option {% if collection.type == type_named %} selected="selected" {% endif %} value="{{ type_named }}">Named collection</option>
            {% endif %}
        </select>
    </div>

    {% if collection.type == type_named and named_collections is not empty %}
        <div>
            <label for="named-collections">Named collections</label>
            <select id="named-collections">
                {% for named_collection in named_collections %}
                    <option {% if collection.id == named_collection.id %} selected="selected" {% endif %} value="{{ named_collection.id }} ">{{ named_collection.name }}</option>
                {% endfor %}
            </select>
        </div>
    {% endif %}
{% endif %}
