{% extends 'NetgenBlockManagerAdminBundle:admin:pagelayout.html.twig' %}

{% trans_default_domain 'ngbm_admin' %}

{% block title %}
    <title>{{ 'shared_layouts.title'|trans }} - {{ 'pagelayout.title'|trans }}</title>
{% endblock %}

{% block content %}
    <div id="shared-layouts">
        <div class="sl-layouts">
            {% for layout in shared_layouts %}
                <div class="nl-panel nl-layout">
                    {{ ngbm_render_layout(layout, [], 'admin') }}
                </div>
            {% else %}
                <p>{{ 'shared_layouts.no_layouts'|trans }}</p>
            {% endfor %}
        </div>

        <a href="{{ path('ngbm_app', {shared: true}) }}" id="add-new-button" class="nl-btn nl-btn-primary js-open-bm">
            <i class="material-icons">add</i> {{ 'shared_layouts.create_layout'|trans }}
        </a>
    </div>
{% endblock %}
