{% extends ngbm_admin.pageLayoutTemplate %}

{% trans_default_domain 'ngbm_admin' %}

{% block title %}
    {{ 'shared_layouts.title'|trans }} - {{ 'pagelayout.title'|trans }}
{% endblock %}

{% block content %}
    <div id="layouts" class="nl-layouts-view-grid" data-shared>
        <div class="layouts-header">
            <h2 class="layouts-title">{{ 'shared_layouts.title'|trans }}</h2>
            <div class="layouts-controls">
                <a href="#" class="nl-btn js-export-layouts" title="{{ 'shared_layouts.export.title'|trans }}"><i class="material-icons">file_download</i></a>
                <a href="#" class="nl-btn js-change-layouts-view"></a>
                {% if is_granted('ROLE_NGBM_EDITOR') %}
                    <a href="{{ path('ngbm_app', {shared: true}) }}" id="add-new-button" class="nl-btn nl-btn-primary js-open-bm">
                        <i class="material-icons">add</i> {{ 'shared_layouts.new_layout'|trans }}
                    </a>
                {% endif %}
            </div>
            <div class="export-layouts-controls">
                <a href="#" class="nl-btn nl-btn-primary js-download-layouts">{{ 'shared_layouts.export.download'|trans }}</a>
                <a href="" class="nl-btn nl-btn-white js-cancel-export">{{ 'shared_layouts.export.cancel'|trans }}</a>
            </div>
        </div>
        <div class="nl-layouts-head">
            <div class="nl-layout-info">
                <div class="nl-layout-text">
                    <div class="nl-layout-name">
                        <div class="nl-layout-export-checkbox">
                            <input type="checkbox" id="toggleSelectAll">
                            <label for="toggleSelectAll"></label>
                        </div>
                        {{ 'layouts.layout.name'|trans }}
                    </div>
                    <div class="nl-layout-description">{{ 'layouts.layout.description'|trans }}</div>
                    <div class="nl-layout-modified">{{ 'layouts.layout.modified'|trans }}</div>
                </div>
            </div>
            <div class="nl-layout-actions">
                <div class="nl-layout-data">{{ 'shared_layouts.layout.references'|trans }}</div>
            </div>
        </div>
        <div class="nl-layouts nl-shared-layouts">
            {% for layout in shared_layouts %}
                <div class="nl-layout">
                    {{ ngbm_render_layout(layout, [], 'admin') }}
                </div>
            {% endfor %}
        </div>
        <p class="nl-no-items">{{ 'shared_layouts.no_layouts'|trans }}</p>
    </div>
{% endblock %}
