{% extends ngbm_admin.pageLayoutTemplate %}

{% trans_default_domain 'ngbm_admin' %}

{% block title %}
    {{ 'shared_layouts.title'|trans }} - {{ 'pagelayout.title'|trans }}
{% endblock %}

{% block content %}
    {% if shared_layouts|length > 0 %}
        <div id="layouts" class="nl-layouts-view-grid">
            <div class="layouts-header">
                <h2 class="layouts-title">{{ 'shared_layouts.title'|trans }}</h2>
                <div class="layouts-controls">
                    <a href="#" class="nl-btn js-change-layouts-view"></a>
                    {% if is_granted('ROLE_NGBM_EDITOR') %}
                        <a href="{{ path('ngbm_app', {shared: true}) }}" id="add-new-button" class="nl-btn nl-btn-primary js-open-bm">
                            <i class="material-icons">add</i> {{ 'shared_layouts.new_layout'|trans }}
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="nl-layouts-head">
                <div class="nl-layout-info">
                    <div class="nl-layout-text">
                        <div class="nl-layout-name">{{ 'layouts.layout.title'|trans }}</div>
                        <div class="nl-layout-description">{{ 'layouts.layout.description'|trans }}</div>
                    </div>
                </div>
                <div class="nl-layout-actions">
                    <div class="nl-layout-data">{{ 'shared_layouts.references'|trans }}</div>
                </div>
            </div>
            <div class="nl-layouts nl-shared-layouts">
                {% for layout in shared_layouts %}
                    <div class="nl-layout">
                        {{ ngbm_render_layout(layout, [], 'admin') }}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div id="layouts" class="nl-layouts-view-grid">
            <div class="layouts-header">
                <h2 class="layouts-title">{{ 'shared_layouts.title'|trans }}</h2>
                <div class="layouts-controls">
                    {% if is_granted('ROLE_NGBM_EDITOR') %}
                        <a href="{{ path('ngbm_app', {shared: true}) }}" id="add-new-button" class="nl-btn nl-btn-primary js-open-bm">
                            <i class="material-icons">add</i> {{ 'shared_layouts.new_layout'|trans }}
                        </a>
                    {% endif %}
                </div>
                <p>{{ 'shared_layouts.no_layouts'|trans }}</p>
            </div>
        </div>
    {% endif %}
{% endblock %}
