{% extends 'NetgenBlockManagerAdminBundle:app/form:modal.html.twig' %}

{% trans_default_domain 'ngbm_forms' %}

{% set block = form.vars.configurable %}
{% set http_cache_form = form.children.http_cache %}

{% block header %}
    {{ 'config.block.http_cache.header'|trans }}{% if block.name is not empty %}: <strong>{{ block.name }}</strong>{% endif %}
{% endblock %}

{% block children %}
    <p>{{ 'config.block.http_cache.definition'|trans }}: {{ block.definition.config.name }}</p>
    <p>{{ 'config.block.http_cache.view_type'|trans }}: {{ block.definition.config.viewType(block.viewType).name }}</p>

    {{ form_row(http_cache_form.children.use_http_cache, {required: false}) }}
    {{ form_row(http_cache_form.children.shared_max_age, {
        label: false,
        required: false,
        attr: {
            placeholder: 'config.block.http_cache.shared_max_age.placeholder'|trans,
        }
    }) }}
{% endblock %}

{% block buttons %}
    <button type="button" class="btn btn-link action_cancel">{{ 'config.block.http_cache.cancel'|trans }}</button>
    <button type="submit" class="btn btn-primary action_apply">{{ 'config.block.http_cache.submit'|trans }}</button>
{% endblock %}
