{% trans_default_domain 'nglayouts_admin' %}

{% set can_edit = is_granted('nglayouts:mapping:edit_group', { rule_group: condition.ruleGroupId.toString }) %}

<span
    {% if can_edit %}
        class="settings-value editable-value js-setting-edit" data-setting-id="{{ condition.id.toString }}" data-setting-type="condition"
    {% else %}
        class="settings-value"
    {% endif %}
>
    {{ ('layout_resolver.condition.' ~ condition.conditionType.type)|trans({}, 'nglayouts') }}:

    {{ nglayouts_render_rule_condition(condition, {}, 'value') }}
</span>

{% if can_edit %}
    <a href="#" class="remove-setting js-setting-delete" data-setting-id="{{ condition.id.toString }}" data-setting-type="condition">
        {{ 'layout_resolver.group_condition.delete'|trans }}
    </a>
{% endif %}
