{% trans_default_domain 'ngbm_app' %}

<section>
    {% if block_definition.config.getForm('full').enabled %}
        {% include 'NetgenBlockManagerAdminBundle:app/block/edit:collections.html.twig' %}

        <div data-form="{{ path('ngbm_app_block_form_edit', {'blockId': block.id, 'formName': 'full'}) }}"></div>

        {% include 'NetgenBlockManagerAdminBundle:app/block/edit:collection_query.html.twig' %}

        {% include 'NetgenBlockManagerAdminBundle:app/block/edit:collection_items.html.twig' %}
    {% elseif block_definition.config.getForm('design').enabled and block_definition.config.getForm('content').enabled %}
        <div id="aside-tabs">
            <ul class="aside-tab-control">
                <li><a id="content">{{ 'block.edit.tabs.content'|trans }}</a></li>
                <li><a id="design">{{ 'block.edit.tabs.design'|trans }}</a></li>
            </ul>

            <div class="tab-pane" id="content-tab">
                <div class="sidebar-panel">
                    <a class="toggle-link" role="button" data-toggle="collapse" href="#collapseSettings" aria-expanded="true" aria-controls="collapseSettings">
                        {{ 'block.edit.options'|trans }}
                    </a>

                    <div class="collapse in" id="collapseSettings">
                        <div data-form="{{ path('ngbm_app_block_form_edit', {'blockId': block.id, 'formName': 'content'}) }}"></div>

                        {% include 'NetgenBlockManagerAdminBundle:app/block/edit:collections.html.twig' %}

                        {% include 'NetgenBlockManagerAdminBundle:app/block/edit:collection_query.html.twig' %}
                    </div>
                </div>

                {% include 'NetgenBlockManagerAdminBundle:app/block/edit:collection_items.html.twig' %}
            </div>

            <div class="tab-pane" id="design-tab">
                <div data-form="{{ path('ngbm_app_block_form_edit', {'blockId': block.id, 'formName': 'design'}) }}"></div>
            </div>
        </div>
    {% endif %}
</section>
