{% extends 'NetgenBlockManagerAdminBundle:admin:pagelayout.html.twig' %}

{% trans_default_domain 'ngbm_admin' %}

{% block content %}
    <div id="rules">
        {% if rules|length > 0 %}
            <div class="rule-controls">
                <button class="lr-btn lr-btn-link sorting-hide js-sort-start">{{ 'layout_resolver.rules.reorder_rules'|trans }} <i class="material-icons">swap_vert</i></button>
                <button class="lr-btn lr-btn sorting-show js-sort-cancel">{{ 'layout_resolver.rules.cancel'|trans }}</button>
                <button class="lr-btn lr-btn-primary sorting-show js-sort-save">{{ 'layout_resolver.rules.save_order'|trans }}</button>
            </div>
        {% endif %}

        <div class="lr-rules">
            {% for rule in rules %}
                <div class="lr-panel lr-rule">
                    {{ ngbm_render_rule(rule) }}
                </div>
            {% else %}
                <p>{{ 'layout_resolver.rules.no_rules'|trans }}</p>
            {% endfor %}
        </div>

        <a href="#" id="add-new-button" class="lr-btn lr-btn-primary js-add-rule">
            <i class="material-icons">add</i> {{ 'layout_resolver.rules.add_new_rule'|trans }}
        </a>
    </div>
{% endblock %}
