{% import 'NetgenBlockManagerAdminBundle:admin:macros.html.twig' as macros %}

{% trans_default_domain 'ngbm_admin' %}

<div class="nl-rule-content {% if not published_rule.enabled %}disabled{% endif %}" data-id="{{ rule.id }}">
    <div class="nl-panel-head">
        <div class="panel-head-title">

            <div class="panel-icon">
                <i class="material-icons" role="presentation">{% if published_rule.enabled %}dns{% else %}do_not_disturb{% endif %}</i>
            </div>

            {% if rule.layout != null %}
                <div class="panel-name" title="{{ rule.layout.name }}">
                    <a href="{{ macros.layout_path(rule.layout.id) }}" class="js-open-bm">{{ rule.layout.name }}</a>
                </div>
            {% else %}
                <div class="panel-name" title="{{ 'layout_resolver.rule.no_linked_layout'|trans }}">
                    <span>{{ 'layout_resolver.rule.no_linked_layout'|trans }}</span>
                    <div data-browser-config-name="ngbm_layout" class="panel-link-action js-link-layout">
                        <a class="js-trigger" href="#"><i class="material-icons" role="presentation">link</i> {{ 'layout_resolver.rule.no_linked_layout.link'|trans }}</a>
                    </div>
                </div>
            {% endif %}

            {% if not published_rule.enabled %}
                <span class="disabled-label">{{ 'layout_resolver.rule.inactive'|trans }}</span>
            {% endif %}

            <!-- Right aligned menu below button -->
            <div class="nl-dropdown" data-position="right">
                <button class="nl-btn nl-btn-icon nl-dropdown-toggle">
                    <i class="material-icons">more_vert</i>
                </button>
                <ul class="nl-dropdown-menu">
                    <li><a href="#" {% if rule.layout == null %} disabled {% else %} class="js-rule-unlink" {% endif %}>{{ 'layout_resolver.rule.unlink_layout'|trans }}</a></li>

                    {% if rule.layout != null %}
                        <li>
                            <div data-browser-config-name="ngbm_layout" class="js-link-layout" data-linked-layout="{{ rule.layout.id }}">
                                <a class="js-trigger" href="#">{{ 'layout_resolver.rule.link_other_layout'|trans }}</a>
                            </div>
                        </li>
                    {% else %}
                        <li><a href="#" class="js-link-layout-trigger">{{ 'layout_resolver.rule.link_layout'|trans }}</a></li>
                    {% endif %}

                    {% if published_rule.enabled %}
                        <li><a href="#" class="js-rule-edit" data-action="disable">{{ 'layout_resolver.rule.disable_rule'|trans }}</a></li>
                    {% else %}
                        <li><a href="#" {% if published_rule.layout == null or published_rule.targets|length == 0 %} disabled {% else %} class="js-rule-edit" data-action="enable" {% endif %}>{{ 'layout_resolver.rule.enable_rule'|trans }}</a></li>
                    {% endif %}

                    <li><a href="#" class="js-rule-delete">{{ 'layout_resolver.rule.delete_rule'|trans }}</a></li>
                </ul>
            </div>

        </div>

        <div class="panel-head-info">

            <div class="meta-info nl-tt" title="{{ 'layout_resolver.rule.number_of_targets'|trans }}">
                <i class="material-icons" role="presentation">gps_fixed</i> <span class="meta-badge js-target-counter">{{ rule.targets|length }}</span>
            </div>

            <div class="meta-info nl-tt" title="{{ 'layout_resolver.rule.number_of_conditions'|trans }}">
                <i class="material-icons" role="presentation">done_all</i> <span class="meta-badge js-condition-counter">{{ rule.conditions|length }}</span>
            </div>

            <a class="panel-toggle js-panel-toggle"></a>

        </div>

    </div>

    <div class="nl-panel-body">

        <div class="nl-grid">
            <div class="col-xs6">
                {% if rule.targets|length > 0 %}
                    <p>{{ ('layout_resolver.rule.target_header.' ~ rule.targets[0].targetType.type)|trans }}:</p>

                    <ul class="settings-list target-list">
                        {% for target in rule.targets %}
                            <li>{{ ngbm_render_rule_target(target) }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>{{ 'layout_resolver.rule.no_targets'|trans }}</p>
                {% endif %}

                {% if target_types|length > 0 %}
                    <div class="settings-action">
                        <div class="settings-loader"><i class="loading-ng-icon"></i>{{ 'layout_resolver.rule.loading'|trans }}</div>
                        <div class="settings-action-add">
                            {% if rule.targets|length == 0 %}
                                <select class="nl-select js-target-type">
                                    {% for target_type in target_types %}
                                        <option value="{{ target_type.type }}">{{ ('layout_resolver.target.' ~ target_type.type)|trans }}</option>
                                    {% endfor %}
                                </select>
                            {% endif %}

                            <a href="#" class="nl-btn nl-btn-link js-setting-add" data-action="add-target"
                                {% if rule.targets|length > 0 %} data-target-type="{{ rule.targets[0].targetType.type }}" {% endif %}>
                                <i class="material-icons">add</i> {{ 'layout_resolver.rule.add_target'|trans }}
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="col-xs6">
                {% if rule.conditions|length > 0 %}
                    <p>{{ 'layout_resolver.rule.conditions'|trans }}:</p>

                    <ul class="settings-list condition-list">
                        {% for condition in rule.conditions %}
                            <li>{{ ngbm_render_rule_condition(condition) }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>{{ 'layout_resolver.rule.no_conditions'|trans }}</p>
                {% endif %}

                {% if condition_types|length > 0 %}
                    <div class="settings-action">
                        <div class="settings-loader"><i class="loading-ng-icon"></i>{{ 'layout_resolver.rule.loading'|trans }}</div>
                        <div class="settings-action-add">
                            <select class="nl-select js-condition-type">
                                {% for condition_type in condition_types %}
                                    <option value="{{ condition_type.type }}">{{ ('layout_resolver.condition.' ~ condition_type.type)|trans }}</option>
                                {% endfor %}
                            </select>

                            <a href="#" class="nl-btn nl-btn-link js-setting-add" data-action="add-condition">
                                <i class="material-icons">add</i> {{ 'layout_resolver.rule.add_condition'|trans }}
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>

    </div>

    <div class="nl-panel-actions">
        <a href="#" class="nl-btn js-rule-edit" data-action="discard">
            {{ 'layout_resolver.rule.cancel'|trans }}
        </a>

        <a href="#" class="nl-btn nl-btn-primary js-rule-edit" data-action="publish">
            {{ 'layout_resolver.rule.save_changes'|trans }}
        </a>
    </div>

</div>
