{% trans_default_domain 'ngbm_admin' %}

<div class="lr-rule-content" data-id="{{ rule.id }}">
    <div class="lr-panel-head">

        <div class="panel-head-title">

            <div class="panel-icon">
                <i class="material-icons" role="presentation">select_all</i>
            </div>

            {% if rule.layout != null %}
                <div class="panel-name" title="{{ rule.layout.name }}">
                    <a target="_blank" href="{{ path('ngbm_app') }}#layout/{{ rule.layout.id }}">{{ rule.layout.name }}</a>
                </div>
            {% else %}
                <div class="panel-name" title="{{ 'layout_resolver.rules.no_linked_layout'|trans }}">
                    <span>{{ 'layout_resolver.rules.no_linked_layout'|trans }}</span>
                    <div class="panel-link-action">
                        <i class="material-icons" role="presentation">link</i> {{ 'layout_resolver.rules.no_linked_layout.link'|trans }}
                    </div>
                </div>
            {% endif %}

            <!-- Right aligned menu below button -->
            <div class="lr-dropdown" data-position="right">
                <button class="lr-btn lr-btn-icon lr-dropdown-toggle">
                    <i class="material-icons">more_vert</i>
                </button>
                <ul class="lr-dropdown-menu">
                    <li><a href="#" {% if rule.layout == null %} disabled {% else %} class="js-rule-unlink" {% endif %}>{{ 'layout_resolver.rules.unlink_layout'|trans }}</a></li>

                    {% if rule.layout != null %}
                        <li><a href="#">{{ 'layout_resolver.rules.link_other_layout'|trans }}</a></li>
                    {% else %}
                        <li><a href="#">{{ 'layout_resolver.rules.link_layout'|trans }}</a></li>
                    {% endif %}

                    {% if published_rule.enabled %}
                        <li><a href="#" class="js-rule-edit" data-action="disable">{{ 'layout_resolver.rules.disable_rule'|trans }}</a></li>
                    {% else %}
                        <li><a href="#" {% if published_rule.layout == null or published_rule.targets|length == 0 %} disabled {% else %} class="js-rule-edit" data-action="enable" {% endif %}>{{ 'layout_resolver.rules.enable_rule'|trans }}</a></li>
                    {% endif %}

                    <li><a href="#" class="js-rule-delete">{{ 'layout_resolver.rules.delete_rule'|trans }}</a></li>
                </ul>
            </div>

        </div>

        <div class="panel-head-info">

            <div class="meta-info lr-tt" title="{{ 'layout_resolver.rules.number_of_targets'|trans }}">
                <i class="material-icons" role="presentation">settings_system_daydream</i> <span class="meta-badge js-target-counter">{{ rule.targets|length }}</span>
            </div>

            <div class="meta-info lr-tt" title="{{ 'layout_resolver.rules.number_of_conditions'|trans }}">
                <i class="material-icons" role="presentation">done_all</i> <span class="meta-badge js-condition-counter">{{ rule.conditions|length }}</span>
            </div>

            <a class="panel-toggle js-panel-toggle"></a>

        </div>

    </div>

    <div class="lr-panel-body">

        <div class="lr-grid">
            <div class="col-xs6">
                {% if rule.targets|length > 0 %}
                    <p>{{ ('layout_resolver.rules.target_header.' ~ rule.targets[0].type)|trans }}:</p>

                    <ul class="settings-list target-list">
                        {% for target in rule.targets %}
                            <li>{{ ngbm_render_rule_target(target) }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>{{ 'layout_resolver.rules.no_targets'|trans }}</p>
                {% endif %}

                {% if target_types|length > 0 %}
                    <div class="settings-action">
                        <div class="settings-loader"><i class="loading-ng-icon"></i>{{ 'layout_resolver.rules.loading'|trans }}</div>
                        <div class="settings-action-add">
                            {% if rule.targets|length == 0 %}
                                <select class="lr-select js-target-type">
                                    {% for target_type in target_types %}
                                        <option value="{{ target_type.type }}">{{ ('layout_resolver.target.' ~ target_type.type)|trans }}</option>
                                    {% endfor %}
                                </select>
                            {% endif %}

                            <a href="#" class="lr-btn lr-btn-link js-form-add" data-action="add-target"
                                {% if rule.targets|length > 0 %} data-target-type="{{ rule.targets[0].type }}" {% endif %}>
                                <i class="material-icons">add</i> {{ 'layout_resolver.rules.add_target'|trans }}
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="col-xs6">
                {% if rule.conditions|length > 0 %}
                    <p>{{ 'layout_resolver.rules.conditions'|trans }}:</p>

                    <ul class="settings-list condition-list">
                        {% for condition in rule.conditions %}
                            <li>{{ ngbm_render_rule_condition(condition) }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>{{ 'layout_resolver.rules.no_conditions'|trans }}</p>
                {% endif %}

                {% if condition_types|length > 0 %}
                    <div class="settings-action">
                        <div class="settings-loader"><i class="loading-ng-icon"></i>{{ 'layout_resolver.rules.loading'|trans }}</div>
                        <div class="settings-action-add">
                            <select class="lr-select js-condition-type">
                                {% for condition_type in condition_types %}
                                    <option value="{{ condition_type.type }}">{{ ('layout_resolver.condition.' ~ condition_type.type)|trans }}</option>
                                {% endfor %}
                            </select>

                            <a href="#" class="lr-btn lr-btn-link js-form-add" data-action="add-condition">
                                {{ 'layout_resolver.rules.add_condition'|trans }}
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>

    </div>

    <div class="lr-panel-actions">
        <a href="#" class="lr-btn js-rule-edit" data-action="discard">
            {{ 'layout_resolver.rules.cancel'|trans }}
        </a>

        <a href="#" class="lr-btn lr-btn-primary js-rule-edit" data-action="publish">
            {{ 'layout_resolver.rules.save_changes'|trans }}
        </a>
    </div>

</div>
