{% trans_default_domain 'ngbm_app' %}

{% macro notice(notice) %}
    <div class="notice">
        <i class="material-icons" aria-hidden="true">info_outline</i>
        <span class="msg">{{ notice }}</span>
    </div>
{% endmacro %}

{% macro info(info, icon_class) %}
    <div class="info">
        {% if icon_class is defined and icon_class is not empty %}
            <div class="info-icon">
                <span class="{{ icon_class }}"></span>
            </div>
        {% endif %}
        <span class="msg">{{ info }}</span>
    </div>
{% endmacro %}

{% macro collection(collections, identifier, item_view_type, view_context) %}
    {% import _self as self %}

    {% if collections[identifier] is defined %}
        {% if collections[identifier].results|length == 0 %}
            {{ self.notice('block.notice.empty_collection'|trans) }}
        {% else %}
            <div class="list-row">
                {% for result in collections[identifier].results %}
                    <div class="list-item">
                        {{ ngbm_render_item(result.item, item_view_type, [], view_context) }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endif %}
{% endmacro %}
