{% trans_default_domain 'ngbm_app' %}

{% set view_type_name = block.viewType %}

{% if block.blockDefinition.config.hasViewType(view_type_name) %}
    {% set view_type_name = block.blockDefinition.config.viewType(view_type_name).name %}
{% endif %}

{% block controls %}
    <div class="block-header">
        <div class="handle" title="{{ 'layout.block.move'|trans }}"><i class="material-icons">drag_handle</i></div>
        <div class="name">{{ block.name }}</div>
        <div class="template_name">{{ view_type_name }}</div>
        <div class="dropdown">
            <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="material-icons">more_horiz</i></button>
            <ul class="dropdown-menu dropdown-menu-right">
                <li class="js-modal-mode"><a title="{{ 'layout.block.maximize'|trans }}">{{ 'layout.block.maximize'|trans }}</a></li>
                <li role="separator" class="divider"></li>
                <li class="js-revert"><a title="{{ 'layout.block.revert'|trans }}">{{ 'layout.block.revert'|trans }}<span class="note">{{ 'layout.block.revert_note'|trans }}</span></a></li>
                <li class="js-destroy"><a title="{{ 'layout.block.delete'|trans }}">{{ 'layout.block.delete'|trans }}</a></li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block inline_data %}{% endblock %}

{% block content %}{% endblock %}
