{% trans_default_domain 'nglayouts_app' %}

{% set block_definition = block.definition %}

<section>
    {% if block_definition.hasForm('full') %}
        {{ include('@NetgenLayoutsAdmin/app/block/edit/collection_type.html.twig') }}

        <div data-form="{{ path('nglayouts_app_block_form_edit', {'blockId': block.id.toString, 'locale': block.locale, 'formName': 'full'}) }}"></div>

        {{ include('@NetgenLayoutsAdmin/app/block/edit/collection_query.html.twig') }}

        {{ include('@NetgenLayoutsAdmin/app/block/edit/collection.html.twig') }}

        {{ include('@NetgenLayoutsAdmin/app/block/edit/collection_items.html.twig') }}
    {% elseif block_definition.hasForm('design') and block_definition.hasForm('content') %}
        <div id="aside-tabs">
            <ul class="aside-tab-control">
                <li><a id="content">{{ 'block.edit.tabs.content'|trans }}</a></li>
                <li><a id="design">{{ 'block.edit.tabs.design'|trans }}</a></li>
            </ul>

            <div class="tab-pane" id="content-tab">
                {% if block.definition.collections is not empty %}
                    <div class="sidebar-panel">
                        <a class="toggle-link" role="button" data-toggle="collapse" href="#collapseSettings" aria-expanded="true" aria-controls="collapseSettings">
                            {{ 'block.edit.options'|trans }}
                        </a>

                        <div class="collapse in" id="collapseSettings">
                            <div data-form="{{ path('nglayouts_app_block_form_edit', {'blockId': block.id.toString, 'locale': block.locale, 'formName': 'content'}) }}"></div>

                            {{ include('@NetgenLayoutsAdmin/app/block/edit/collection_type.html.twig') }}

                            {{ include('@NetgenLayoutsAdmin/app/block/edit/collection_query.html.twig') }}

                            {{ include('@NetgenLayoutsAdmin/app/block/edit/collection.html.twig') }}
                        </div>
                    </div>

                    {{ include('@NetgenLayoutsAdmin/app/block/edit/collection_items.html.twig') }}
                {% else %}
                    <div data-form="{{ path('nglayouts_app_block_form_edit', {'blockId': block.id.toString, 'locale': block.locale, 'formName': 'content'}) }}"></div>
                {% endif %}
            </div>

            <div class="tab-pane" id="design-tab">
                <div data-form="{{ path('nglayouts_app_block_form_edit', {'blockId': block.id.toString, 'locale': block.locale, 'formName': 'design'}) }}"></div>
            </div>
        </div>
    {% else %}
        <div class="not-selected">
            <div class="content">
                <span class="icon-block"></span>
                <p>{{ 'block.edit.invalid_block'|trans }}</p>
            </div>
        </div>
    {% endif %}
</section>
