{% import '@NetgenLayoutsAdmin/app/parts/macros.html.twig' as macros %}

{% trans_default_domain 'nglayouts_app' %}

{% block controls %}
    <div class="block-header">
        <div class="handle" title="{{ 'layout.block.move'|trans }}"><i class="material-icons">drag_handle</i></div>
        <div class="template_name">{{ 'block.invalid_block'|trans }}</div>
        <div class="name">{{ block.name }}</div>
        <div class="dropdown">
            <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="material-icons">more_horiz</i></button>
            <ul class="dropdown-menu dropdown-menu-right">
                <li class="js-destroy"><a title="{{ 'layout.block.delete'|trans }}">{{ 'layout.block.delete'|trans }}</a></li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block content %}
    {{ macros.notice('block.notice.invalid_block'|trans) }}
{% endblock %}
