{% trans_default_domain 'nglayouts_app' %}

<!DOCTYPE html>
<html lang="{{ app.request.locale|replace({'_': '-'}) }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="theme-color" content="#383838">

    <meta name="nglayouts-route-prefix" content="{{ nglayouts.config.parameter('route_prefix') }}">
    <meta name="nglayouts-base-path" content="{{ path('nglayouts_root') }}">
    <meta name="ngcb-base-path" content="{{ path('ngcb_root') }}">

    <title>{{ 'pagelayout.title'|trans }}</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('favicon/apple-touch-icon.png', 'nglayouts_admin_images') }}">
    <link rel="icon" type="image/png" href="{{ asset('favicon/favicon-32x32.png', 'nglayouts_admin_images') }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ asset('favicon/favicon-16x16.png', 'nglayouts_admin_images') }}" sizes="16x16">
    <link rel="manifest" href="{{ asset('favicon/manifest.json', 'nglayouts_admin_images') }}">
    <link rel="mask-icon" href="{{ asset('favicon/safari-pinned-tab.svg', 'nglayouts_admin_images') }}" color="#a477fc">
    <link rel="shortcut icon" href="{{ asset('favicon/favicon.ico', 'nglayouts_admin_images') }}">
    <meta name="msapplication-config" content="{{ asset('favicon/browserconfig.xml', 'nglayouts_admin_images') }}">
    <meta name="theme-color" content="#ffffff">

    {% block stylesheets %}
        {% if debug %}
            <link rel="stylesheet" href="{{ asset('dev/css/netgen-layouts.css', 'nglayouts_app') }}">
        {% else %}
            <link rel="stylesheet" href="{{ asset('netgen-layouts.css', 'nglayouts_app_css') }}">
        {% endif %}
    {% endblock %}

    {% block custom_stylesheets %}
        {% for stylesheet in nglayouts.config.parameter('app').stylesheets %}
            <link rel="stylesheet" href="{{ stylesheet }}">
        {% endfor %}
    {% endblock %}

    {{ nglayouts_template_plugin('app.stylesheets') }}
</head>

<body>
    <div id="app" class="ngc" data-version="{{ pretty_package_version('netgen/layouts-core') }} {{ nglayouts.config.parameter('edition') }}"></div>

    <div id="ngc-size-warning">
        <div class="size-warning-text">
            <span class="icon"></span>
            <h2>{{ 'pagelayout.size_warning.title'|trans }}</h2>
            <p>{{ 'pagelayout.size_warning.warning'|trans }}</p>
        </div>
    </div>

    <script src="{{ asset('ckeditor/ckeditor.js', 'nglayouts_app_vendor') }}" defer></script>
    <script src="{{ asset('ace-editor/ace.js', 'nglayouts_app_vendor') }}" defer></script>

    {{ include('@NetgenLayouts/google_maps.html.twig') }}

    {% block custom_javascripts %}
        {% for javascript in nglayouts.config.parameter('app').javascripts %}
            <script src="{{ javascript }}" defer></script>
        {% endfor %}
    {% endblock %}

    {{ nglayouts_template_plugin('app.javascripts') }}

    {% block javascripts %}
        {% if debug %}
            <script src="{{ asset('dev/js/netgen-layouts.js', 'nglayouts_app') }}" defer></script>
        {% else %}
            <script src="{{ asset('netgen-layouts.js', 'nglayouts_app_js') }}" defer></script>
        {% endif %}
    {% endblock %}
</body>
</html>
