{% if show_close_button is not defined %}
    {% set show_close_button = true %}
{% endif %}

<div class="modal-dialog">
    <div class="modal-content">

        {% set header = block('header') is defined ? block('header') : '' %}

        {% if header is not empty %}
            <div class="modal-header">
                {% if show_close_button %}
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">clear</i></button>
                {% endif %}

                <h4 class="modal-title">{{ header|raw }}</h4>
            </div>
        {% endif %}

        <div class="modal-body">
            {% block form %}
                {{ form_start(form) }}
                    {{ form_errors(form) }}

                    {% block children %}{% endblock %}

                    {{ form_rest(form) }}
                {{ form_end(form) }}
            {% endblock %}
        </div>

        <div class="modal-footer">
            {% block buttons %}{% endblock %}
        </div>

    </div>
</div>
