{% form_theme form 'NetgenBlockManagerAdminBundle:form/theme:ngbm.html.twig' %}

<div class="modal-dialog">
    <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">clear</i></button>
                <h4 class="modal-title">
                    {% block header %}{% endblock %}
                </h4>
            </div>

            <div class="modal-body">
                {{ form_start(form) }}
                    {{ form_errors(form) }}

                    {% block children %}
                        {% for child in form %}
                            {{ form_row(child) }}
                        {% endfor %}
                    {% endblock %}

                    {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>

            <div class="modal-footer">
                {% block buttons %}{% endblock %}
            </div>

    </div>
</div>
