{% trans_default_domain 'ngbm_app' %}

<!DOCTYPE html>
<html lang="{{ app.request.locale|replace({'_': '-'}) }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="theme-color" content="#383838">

    <meta name="ngbm-base-path" content="{{ path('ngbm_root') }}">
    <meta name="ngcb-base-path" content="{{ path('ngcb_root') }}">

    <title>{{ 'pagelayout.title'|trans }}</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('favicon/apple-touch-icon.png', 'ngbm_admin_images') }}">
    <link rel="icon" type="image/png" href="{{ asset('favicon/favicon-32x32.png', 'ngbm_admin_images') }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ asset('favicon/favicon-16x16.png', 'ngbm_admin_images') }}" sizes="16x16">
    <link rel="manifest" href="{{ asset('favicon/manifest.json', 'ngbm_admin_images') }}">
    <link rel="mask-icon" href="{{ asset('favicon/safari-pinned-tab.svg', 'ngbm_admin_images') }}" color="#5bbad5">

    <link rel="stylesheet" href="{{ asset('alloy-editor/assets/alloy-editor-ocean-min.css', 'ngcore_vendor') }}">

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('netgen-core.css', 'ngcore_css') }}">
        <link rel="stylesheet" href="{{ asset('netgen-content-browser.css', 'ngcb_css') }}">
        <link rel="stylesheet" href="{{ asset('netgen-block-manager.css', 'ngbm_app_css') }}">
    {% endblock %}
</head>

<body>
    <div id="app" class="ngc"></div>

    <script src="{{ asset('alloy-editor/alloy-editor-all.js', 'ngcore_vendor') }}"></script>
    <script src="{{ asset('ace-editor/ace.js', 'ngcore_vendor') }}"></script>

    {% set google_maps_api_key = ngbm.config.parameter('google_maps_api_key') %}

    {% if google_maps_api_key is not empty %}
        <script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}" async defer></script>
    {% endif %}

    {% block javascripts %}
        <script src="{{ asset('netgen-core.js', 'ngcore_js') }}"></script>
        <script src="{{ asset('netgen-content-browser.js', 'ngcb_js') }}"></script>
        <script src="{{ asset('netgen-block-manager.js', 'ngbm_app_js') }}"></script>
    {% endblock %}
</body>
</html>
