{% trans_default_domain 'ngbm_app' %}

<!DOCTYPE html>
<html lang="{{ app.request.locale|replace({'_': '-'}) }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="theme-color" content="#383838">

    <meta name="ngbm-base-path" content="{{ path('ngbm_root') }}">
    <meta name="ngcb-base-path" content="{{ path('ngcb_root') }}">

    <title>{{ 'pagelayout.title'|trans }}</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('favicon/apple-touch-icon.png', 'ngbm_admin_images') }}">
    <link rel="icon" type="image/png" href="{{ asset('favicon/favicon-32x32.png', 'ngbm_admin_images') }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ asset('favicon/favicon-16x16.png', 'ngbm_admin_images') }}" sizes="16x16">
    <link rel="manifest" href="{{ asset('favicon/manifest.json', 'ngbm_admin_images') }}">
    <link rel="mask-icon" href="{{ asset('favicon/safari-pinned-tab.svg', 'ngbm_admin_images') }}" color="#5bbad5">
    <link rel="shortcut icon" href="{{ asset('favicon/favicon.ico', 'ngbm_admin_images') }}">
    <meta name="msapplication-config" content="{{ asset('favicon/browserconfig.xml', 'ngbm_admin_images') }}">
    <meta name="theme-color" content="#ffffff">

    {% block stylesheets %}
        {% if debug %}
            <link rel="stylesheet" href="{{ asset('dev/css/netgen-block-manager.css', 'ngbm_app') }}">
        {% else %}
            <link rel="stylesheet" href="{{ asset('netgen-block-manager.css', 'ngbm_app_css') }}">
        {% endif %}
    {% endblock %}

    {% block custom_stylesheets %}
        {% for stylesheet in ngbm.config.parameter('app').stylesheets %}
            <link rel="stylesheet" href="{{ stylesheet }}">
        {% endfor %}
    {% endblock %}
</head>

<body>
    <div id="app" class="ngc" data-version="Netgen Layouts v{{ constant('Netgen\\BlockManager\\Version::VERSION') }}"></div>

    <div id="ngc-size-warning">
        <div class="size-warning-text">
            <span class="icon"></span>
            <h2>{{ 'pagelayout.size_warning.title'|trans }}</h2>
            <p>{{ 'pagelayout.size_warning.warning'|trans }}</p>
        </div>
    </div>

    <script src="{{ asset('ckeditor/ckeditor.js', 'ngbm_app_vendor') }}" defer></script>
    <script src="{{ asset('ace-editor/ace.js', 'ngbm_app_vendor') }}" defer></script>

    {% set google_maps_api_key = ngbm.config.parameter('api_keys').google_maps %}

    {% if google_maps_api_key is not empty %}
        <script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}" defer></script>
    {% endif %}

    {% block custom_javascripts %}
        {% for javascript in ngbm.config.parameter('app').javascripts %}
            <script src="{{ javascript }}" defer></script>
        {% endfor %}
    {% endblock %}

    {% block javascripts %}
        {% if debug %}
            <script src="{{ asset('dev/js/vendor.js', 'ngbm_app') }}" defer></script>
            <script src="{{ asset('dev/js/main.js', 'ngbm_app') }}" defer></script>
        {% else %}
            <script src="{{ asset('netgen-block-manager.js', 'ngbm_app_js') }}" defer></script>
        {% endif %}
    {% endblock %}
</body>
</html>
