{% set hasPager = true %}

<nav class="ajax-navigation"
    data-page="{{ pager.currentPage }}"
    data-total-pages="{{ pager.nbPages }}"
    {% if hasPager %}data-pager{% endif %}
    data-template-pager="{{ block('pager_template')|e }}"
    data-template-load-more="{{ block('load_more_template')|e }}"
    data-url="{{ pager_uri }}"
    >
</nav>
