{% extends '@NetgenBlockManagerAdmin/app/form/modal.html.twig' %}

{% trans_default_domain 'ngbm_forms' %}

{% block header %}
    {{ 'layout.add_locale.title'|trans }}
{% endblock %}

{% block form %}
    {% if form.locale.vars.choices is not empty %}
        {{ form_start(form) }}
            {{ form_errors(form) }}
                {{ form_row(form.locale) }}
                {{ form_row(form.sourceLocale) }}
            {{ form_rest(form) }}
        {{ form_end(form) }}
    {% else %}
        <p>{{ 'layout.add_locale.no_locales'|trans }}</p>
    {% endif %}
{% endblock %}

{% block buttons %}
    {% if form.locale.vars.choices is not empty %}
        <button type="button" class="btn btn-link action_cancel">{{ 'layout.add_locale.button.cancel'|trans }}</button>
        <button type="submit" class="btn btn-primary action_apply">{{ 'layout.add_locale.button.create'|trans }}</button>
    {% else %}
        <button type="button" class="btn btn-link action_cancel">{{ 'layout.add_locale.button.close'|trans }}</button>
    {% endif %}
{% endblock %}
