{% extends 'NetgenBlockManagerAdminBundle:app/form:modal.html.twig' %}

{% trans_default_domain 'ngbm_forms' %}

{% form_theme form.layoutType _self %}

{% block _create_type_widget %}
    <div {{ block('widget_container_attributes') }}>
    {%- for child in form %}
        {{- form_widget(child) -}}
        {{- form_label(child, null, {label: ' ', translation_domain: choice_translation_domain}) -}}
    {% endfor -%}
    </div>
{% endblock %}

{% block children %}
    {{ form_row(form.layoutType, {attr: {class: 'layout-type'}}) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
{% endblock %}

{% block buttons %}
    <button type="button" class="btn btn-link action_cancel">{{ 'layout.edit.button.cancel'|trans }}</button>
    <button type="submit" class="btn btn-primary action_apply">{{ 'layout.create.button.create'|trans }}</button>
{% endblock %}
