{% extends '@NetgenBlockManagerAdmin/app/form/modal.html.twig' %}

{% trans_default_domain 'ngbm_forms' %}

{% form_theme form.layoutType _self %}

{% block _create_layoutType_widget %}
    <div {{ block('widget_container_attributes') }}>
    {%- for child in form %}
        <div class="layout-type-item">
            {{- form_widget(child) -}}
            {{- form_label(child, null, {layoutType: form.vars.layout_types[child.vars.value]}) -}}
        </div>
    {% endfor -%}
    </div>
{% endblock %}

{% block _create_layoutType_entry_label %}
    <label for="{{ id }}" class="required">
        <i class="icon" {% if layoutType.icon is not null %}style="background-image:url({{ asset(layoutType.icon) }})"{% endif %}></i>
        {{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}
    </label>
{% endblock %}

{% block children %}
    {{ form_row(form.layoutType, {attr: {class: 'layout-type'}}) }}
    {{ form_row(form.name) }}
    {{ form_row(form.mainLocale) }}
    {{ form_row(form.description) }}
{% endblock %}

{% block buttons %}
    <button type="button" class="btn btn-link action_cancel">{{ 'layout.create.button.cancel'|trans }}</button>
    <button type="submit" class="btn btn-primary action_apply">{{ 'layout.create.button.create'|trans }}</button>
{% endblock %}
