{% extends '@NetgenBlockManagerAdmin/app/form/modal.html.twig' %}

{% form_theme form '@NetgenBlockManagerAdmin/form/theme/ngbm.html.twig' %}

{% trans_default_domain 'ngbm_forms' %}

{% block header %}
    {{ 'layout.edit.title'|trans }}
{% endblock %}

{% block children %}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
{% endblock %}

{% block buttons %}
    <button type="button" class="btn btn-link action_cancel">{{ 'layout.edit.button.cancel'|trans }}</button>
    <button type="submit" class="btn btn-primary action_apply">{{ 'layout.edit.button.save'|trans }}</button>
{% endblock %}
