{% extends '@NetgenBlockManagerAdmin/app/form/modal.html.twig' %}

{% trans_default_domain 'ngbm_forms' %}

{% form_theme form.locales _self %}

{% block header %}
    {{ 'layout.remove_locale.title'|trans }}
{% endblock %}

{% block form %}
    {% if form.locales.vars.choices is not empty %}
        {{ form_start(form) }}
            {{ form_errors(form) }}
                {{ form_row(form.locales, {label: false}) }}
            {{ form_rest(form) }}
        {{ form_end(form) }}
    {% else %}
        <p>{{ 'layout.remove_locale.no_locales'|trans }}</p>
    {% endif %}

    <p class="note">{{ 'layout.remove_locale.note'|trans({'%mainTranslation%': form.vars.layout.mainLocale|ngbm_locale_name})|raw }}</p>
{% endblock %}

{% block buttons %}
    {% if form.locales.vars.choices is not empty %}
        <button type="button" class="btn btn-link action_cancel">{{ 'layout.remove_locale.button.cancel'|trans }}</button>
        <button type="submit" class="btn btn-primary action_apply">{{ 'layout.remove_locale.button.remove'|trans }}</button>
    {% else %}
        <button type="button" class="btn btn-link action_cancel">{{ 'layout.remove_locale.button.close'|trans }}</button>
    {% endif %}
{% endblock %}

{%- block _remove_locale_locales_widget -%}
    <div {{ block('widget_container_attributes') }}>
        {%- for child in form %}
            <div class="checkbox">
                {{- form_widget(child) -}}
                {{- form_label(child, null, {translation_domain: choice_translation_domain}) -}}
            </div>
        {% endfor -%}
    </div>
{%- endblock _remove_locale_locales_widget -%}
