{% extends '@NetgenBlockManagerAdmin/app/form/modal.html.twig' %}

{% trans_default_domain 'ngbm_forms' %}

{% form_theme form.mainLocale _self %}

{% block header %}
    {{ 'layout.set_main_locale.title'|trans }}
{% endblock %}

{% block children %}
    {{ form_row(form.mainLocale, {label: false}) }}
{% endblock %}

{% block buttons %}
    <button type="button" class="btn btn-link action_cancel">{{ 'layout.set_main_locale.button.cancel'|trans }}</button>
    <button type="submit" class="btn btn-primary action_apply">{{ 'layout.set_main_locale.button.set'|trans }}</button>
{% endblock %}

{%- block _set_main_locale_mainLocale_widget -%}
    <div {{ block('widget_container_attributes') }}>
        {%- for child in form %}
            <div class="radio">
                {{- form_widget(child) -}}
                {{- form_label(child, null, {translation_domain: choice_translation_domain}) -}}
            </div>
        {% endfor -%}
    </div>
{%- endblock _set_main_locale_mainLocale_widget -%}
