{% trans_default_domain 'ngbm_admin' %}

<span class="settings-value editable-value js-setting-edit" data-setting-id="{{ condition.id }}" data-setting-type="condition">
    {{ ('layout_resolver.condition.' ~ condition.type)|trans }}:

    {% if condition.value is iterable %}
        {% for key, value in condition.value %}
            {{ key }}: {{ value|join(', ') }}
        {% endfor %}
    {% endif %}
</span>

<a href="#" class="remove-setting js-setting-delete" data-setting-id="{{ condition.id }}" data-setting-type="condition">
    <i class="material-icons">clear</i>
</a>
