{% set css_class = ['ngl-block', 'ngl-' ~ block.definition.identifier, 'ngl-vt-' ~ block.viewType, css_class|default(block.parameter('css_class').value)]|join(' ') %}
{% set css_id = css_id|default(block.parameter('css_id').value) %}
{% set set_container = block.parameter('set_container').value %}
{% set is_preview = app.request.attributes.get('nglayouts_is_preview_request') %}

{% if show_empty_wrapper is not defined %}
    {% set show_empty_wrapper = false %}
{% endif %}

{% set block_content = (block('content') is defined ? block('content') : '')|trim %}

{% if is_preview %}
    {% set view_type_name = block.viewType %}

    {% if block.definition.hasViewType(view_type_name, block) %}
        {% set view_type_name = block.definition.viewType(view_type_name, block).name %}
    {% endif %}

    <ngl-block
        blockId="{{ block.id }}"
        blockLocale="{{ block.locale }}"
        viewTypeName="{{ view_type_name }}"
        {% if block_content is empty %}isEmpty{% endif %}
    >
        <div class="ngl-slotted-block">
{% endif %}

{% if block_content is not empty or show_empty_wrapper %}
    <div class="{{ css_class }}" {% if css_id is not empty %} id="{{ css_id }}" {% endif %}>
        {% if set_container %}<div class="container">{% endif %}

        {{ block_content|raw }}

        {% if set_container %}</div>{% endif %}
    </div>
{% endif %}

{% if is_preview %}
        </div>
    </ngl-block>
{% endif %}
