{% form_theme form 'NetgenBlockManagerAdminBundle:form/theme:ngbm.html.twig' %}

{{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
    {{ form_errors(form) }}

    {% block children %}
        {% for child in form %}
            {{ form_row(child) }}
        {% endfor %}
    {% endblock %}

    {{ form_rest(form) }}

    <button type="submit">Submit</button>
{{ form_end(form) }}
