{% form_theme form '@NetgenBlockManagerAdmin/form/theme/ngbm.html.twig' %}

{{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="nl-modal">
        <a href="#" class="close-modal"></a>

        <div class="nl-modal-head">
            {% block header %}{% endblock %}
        </div>

        <div class="nl-modal-body">
            {% block children %}
                {% for child in form %}
                    {{ form_row(child) }}
                {% endfor %}
            {% endblock %}

        </div>
        <div class="nl-modal-actions">
            {% block buttons %}{% endblock %}
        </div>
    </div>

    {{ form_rest(form) }}
{{ form_end(form) }}
