{% macro layout_path(layout_id) %}
{% filter trim %}
    {% if constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION_ID') >= 30200 %}
        {{ path('ngbm_' ~ (ngbm.debug ? 'dev_' : '') ~ 'app', {'_fragment': 'layout/' ~ layout_id}) }}
    {% else %}
        {# @deprecated Remove when support for Symfony 2.8 ends #}
        {{ path('ngbm_' ~ (ngbm.debug ? 'dev_' : '') ~ 'app') }}#layout/{{ layout_id }}
    {% endif %}
{% endfilter %}
{% endmacro %}

{% macro country_flags(locales) %}
{% for locale in locales %}
    {% set country_code = locale|length > 2 ? locale|split('_')[1] : locale %}
    <span title="{{ locale|ngbm_locale_name }}">{{ country_code|ngbm_country_flag|raw }}</span>
{% endfor %}
{% endmacro %}
