{% trans_default_domain 'ngbm_admin' %}

<!DOCTYPE html>
<html lang="{{ app.request.locale|replace({'_': '-'}) }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    {% include 'NetgenBlockManagerAdminBundle:admin:head.html.twig' %}

    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('bundles/netgenblockmanageradmin/images/favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" href="{{ asset('bundles/netgenblockmanageradmin/images/favicon/favicon-32x32.png') }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ asset('bundles/netgenblockmanageradmin/images/favicon/favicon-16x16.png') }}" sizes="16x16">
    <link rel="manifest" href="{{ asset('bundles/netgenblockmanageradmin/images/favicon/manifest.json') }}">
    <link rel="mask-icon" href="{{ asset('bundles/netgenblockmanageradmin/images/favicon/safari-pinned-tab.svg') }}" color="#5bbad5">
    <meta name="theme-color" content="#383838">

    {% block title %}
        <title>{{ 'pagelayout.title'|trans }}</title>
    {% endblock %}

    {% block stylesheets %}
        {% include 'NetgenBlockManagerAdminBundle:admin:stylesheets.html.twig' %}
    {% endblock %}

    {% block javascripts %}
        {% include 'NetgenBlockManagerAdminBundle:admin:javascripts.html.twig' %}
    {% endblock %}
</head>
<body>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
