{% trans_default_domain 'ngbm_admin' %}

<!DOCTYPE html>
<html lang="{{ app.request.locale|replace({'_': '-'}) }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="theme-color" content="#02a6f2">

    {% include 'NetgenBlockManagerAdminBundle:admin:head.html.twig' %}

    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('favicon/apple-touch-icon.png', 'ngbm_admin_images') }}">
    <link rel="icon" type="image/png" href="{{ asset('favicon/favicon-32x32.png', 'ngbm_admin_images') }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ asset('favicon/favicon-16x16.png', 'ngbm_admin_images') }}" sizes="16x16">
    <link rel="manifest" href="{{ asset('favicon/manifest.json', 'ngbm_admin_images') }}">
    <link rel="mask-icon" href="{{ asset('favicon/safari-pinned-tab.svg', 'ngbm_admin_images') }}" color="#5bbad5">

    {% block title %}
        <title>{{ 'pagelayout.title'|trans }}</title>
    {% endblock %}

    {% block stylesheets %}
        {% include 'NetgenBlockManagerAdminBundle:admin:stylesheets.html.twig' %}
    {% endblock %}

    {% block javascripts %}
        {% include 'NetgenBlockManagerAdminBundle:admin:javascripts.html.twig' %}
    {% endblock %}
</head>
<body>
    <div id="layouts-app">
        <div class="layouts-sidebar">
            <div class="main-menu">
                {% include 'NetgenBlockManagerAdminBundle:admin:main_menu.html.twig' %}
            </div>
        </div>

        <div class="layouts-content">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>
