
{% trans_default_domain 'ngbm_admin' %}

<!DOCTYPE html>
<html lang="{{ app.request.locale|replace({'_': '-'}) }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="csrf-token" content="{{ csrf_token( ngbm.config.parameter('admin.csrf_token_id') ) }}">

    <title>{{ 'pagelayout.title'|trans }}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('vendor.css', 'ngcb_css') }}">
        <link rel="stylesheet" href="{{ asset('main.css', 'ngcb_css') }}">
        <link rel="stylesheet" href="{{ asset('style.css', 'ngbm_admin_css') }}">
    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('jquery/dist/jquery.min.js', 'ngbm_admin_vendor') }}"></script>
        <script src="{{ asset('main.js', 'ngcb_js') }}"></script>
        <script src="https://bb.githack.com/effectiva/jquery_multientry/raw/3c491247c7a426928cfd02e6e1e33b06cd07c6a9/multientry.js"></script>
        <script src="{{ asset('jquery-ui/jquery-ui.min.js', 'ngbm_admin_vendor') }}"></script>
        <script src="{{ asset('app.js', 'ngbm_admin_js') }}"></script>
    {% endblock %}
</head>
<body>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
