{% extends nglayouts_admin.pageLayoutTemplate %}

{% trans_default_domain 'nglayouts_admin' %}

{% block title %}
    {{ 'shared_layouts.title'|trans }} - {{ 'pagelayout.title'|trans }}
{% endblock %}

{% block content %}
    <div id="layouts" class="nl-layouts-view-grid" data-shared>
        <div class="layouts-header">
            <h2 class="layouts-title">{{ 'shared_layouts.title'|trans }}</h2>

            <div class="layouts-controls">
                <a style="display: none" href="#" class="nl-btn js-export">{{ 'shared_layouts.export'|trans }}</a>
                <a href="#" class="nl-btn js-change-layouts-view"></a>

                {% if is_granted('nglayouts:layout:add') %}
                    <a href="{{ path('nglayouts_app', {shared: true}) }}" id="add-new-button" class="nl-btn nl-btn-primary js-open-ngl">
                        <i class="material-icons">add</i> {{ 'shared_layouts.new_layout'|trans }}
                    </a>
                {% endif %}

                <div class="layout-sorting-controls">
                    <label for="layout-sorting-sort"><i class="material-icons">sort_by_alpha</i></label>
                    <select id="layout-sorting-sort" class="nl-select">
                        <option value="name">{{ 'layouts.layout.name'|trans }}</option>
                        <option value="description">{{ 'layouts.layout.description'|trans }}</option>
                        <option value="modified">{{ 'layouts.layout.modified'|trans }}</option>
                        <option value="type">{{ 'layouts.layout.layout_type'|trans }}</option>
                        <option value="references">{{ 'shared_layouts.layout.references'|trans }}</option>
                    </select>

                    <select id="layout-sorting-direction" class="nl-select">
                        <option value="asc">{{ 'layouts.layout.sort.ascending'|trans }}</option>
                        <option value="desc">{{ 'layouts.layout.sort.descending'|trans }}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="nl-layouts-head">
            <div class="nl-layout-info">
                <div class="nl-layout-type">
                    <a class="js-reorder-layouts" data-sorting="type">{{ 'layouts.layout.layout_type'|trans }}<i class="sort-icon"></i></a>
                </div>

                <div class="nl-layout-text">
                    <div class="nl-layout-name">
                        <div class="nl-export-checkbox">
                            <input type="checkbox" id="toggleSelectAll">
                            <label for="toggleSelectAll"></label>
                        </div>
                        <a class="js-reorder-layouts" data-sorting="name">{{ 'layouts.layout.name'|trans }}<i class="sort-icon"></i></a>
                    </div>

                    <div class="nl-layout-description"><a class="js-reorder-layouts" data-sorting="description">{{ 'layouts.layout.description'|trans }}<i class="sort-icon"></i></a></div>
                    <div class="nl-layout-modified"><a class="js-reorder-layouts" data-sorting="modified">{{ 'layouts.layout.modified'|trans }}<i class="sort-icon"></i></a></div>
                </div>
            </div>

            <div class="nl-layout-actions">
                <div class="nl-layout-data">
                    <a class="js-reorder-layouts" data-sorting="references">{{ 'shared_layouts.layout.references'|trans }}<i class="sort-icon"></i></a>
                </div>
            </div>
        </div>

        <div class="nl-layouts nl-shared-layouts">
            {% for layout in shared_layouts %}
                <div class="nl-layout">
                    {{ nglayouts_render_layout(layout, [], 'admin') }}
                </div>
            {% endfor %}
        </div>

        <p class="nl-no-items">{{ 'shared_layouts.no_layouts'|trans }}</p>
    </div>
{% endblock %}
