{% import '@NetgenLayoutsAdmin/admin/macros.html.twig' as macros %}

{% trans_default_domain 'nglayouts_admin' %}

<div class="nl-layout-content"
    data-id="{{ layout.id.toString }}"
    {% if layout.published %}data-published="true"{% endif %}
    data-name="{{ layout.name }}"
    data-description="{{ layout.description }}"
    data-modified="{{ layout.modified|date(constant('DateTimeInterface::ATOM')) }}"
    data-type="{{ layout.layoutType.name }}"
    data-references="{{ related_layouts_count }}"
    >
    <div class="nl-layout-info">
        <div class="nl-layout-text">
            <div class="nl-layout-name">{{ layout.name }}</div>

            <div class="nl-layout-description">
                <p>{{ layout.description }}</p>
            </div>

            {% if not layout.published %}
                <span class="unpublished-label">{{ 'layouts.layout.unpublished_draft'|trans }}</span>
            {% endif %}

            <div class="nl-layout-modified">
                <p>{{ layout.modified|nglayouts_format_datetime }}</p>
            </div>

        </div>
    </div>

    <div class="nl-layout-actions">
        <div class="nl-layout-data">
            <div class="meta-info nl-tt" title="{{ 'shared_layouts.layout.number_of_references'|trans }}">
                <i class="material-icons" role="presentation">share</i> <span class="meta-badge js-target-counter">
                    {{ related_layouts_count }}
                </span>
            </div>
        </div>

        {% if is_granted('nglayouts:layout:delete') %}
            <div class="nl-dropdown" data-position="right">
                <button class="nl-btn nl-dropdown-toggle">
                    <i class="material-icons">more_horiz</i>
                </button>
                <ul class="nl-dropdown-menu">
                    <li><button class="js-layout-delete">{{ 'layouts.layout.delete_layout'|trans }}</button></li>
                </ul>
            </div>
        {% endif %}
    </div>

</div>
