{% import '@NetgenLayoutsAdmin/admin/macros.html.twig' as macros %}

{% trans_default_domain 'nglayouts_admin' %}

<div class="nl-modal">
    <a href="#" class="close-modal"></a>
    <div class="nl-modal-head">
        {{ 'shared_layouts.related_layouts.title'|trans({'%name%': layout.name})|raw }}
    </div>
    <div class="nl-modal-body">
        {% if related_layouts is not empty %}
            <table class="nl-layouts-table">
                <thead>
                    <tr>
                        <th class="nl-layouts-name">{{ 'shared_layouts.related_layouts.layout_name'|trans }}</th>
                        <th class="nl-layouts-zones">{{ 'shared_layouts.related_layouts.zones'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for related_layout in related_layouts %}
                        <tr>
                            <td><a href="{{ macros.layout_path(related_layout.id.toString) }}">{{ related_layout.name }}</a></td>
                            <td>
                                {% for zone in related_layout.zones %}
                                    {% if zone.hasLinkedZone and zone.linkedZone.layoutId.toString == layout.id.toString %}
                                        <div class="nl-layouts-table-zone">{{ related_layout.layoutType.zone(zone.identifier).name }}</div>
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="nl-layouts-empty">{{ 'shared_layouts.related_layouts.no_related_layouts'|trans }}</p>
        {% endif %}
    </div>
</div>
