{% block ngbm_compound_boolean_widget %}
{% spaceless %}
    <div data-compound-checkbox="true" {{ block('widget_container_attributes') }}>
        {% if form.parent is empty %}
            {{ form_errors(form) }}
        {% endif %}

        <div class="checkbox">
            {{ form_row(form.children[form.vars.checkbox_name]) }}
        </div>

        <div class="children">
            {% for name, child in form.children %}
                {% if name != form.vars.checkbox_name %}
                    {{ form_row(child) }}
                {% endif %}
            {% endfor %}
        </div>

        {{ form_rest(form) }}
    </div>
{% endspaceless %}
{% endblock %}
