{% trans_default_domain 'ngbm_app' %}

<!DOCTYPE html>
<html lang="{{ app.request.locale|replace({'_': '-'}) }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <title>{{ 'pagelayout.title'|trans }}</title>

    <link rel="stylesheet" href="{{ asset('bundles/netgenblockmanagerui/vendor/alloy-editor/assets/alloy-editor-ocean-min.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

    {% block stylesheets %}
        <link rel="stylesheet" href="/bmdev/app/styles/main.css">
    {% endblock %}
</head>

<body>
    <div id="app">
        <header class="app-header"></header>
        <aside class="left-toolbar blocks"></aside>

        <div class="main-content">
            <div class="zones"></div>
            <div class="new_layout"></div>
        </div>

        <aside id="sidebar">
            <div class="right-sidebar"></div>
            <div id="trash">
                <div data-trash></div>
                <i class="fa fa-trash-o"></i><p>{{ 'pagelayout.trash'|trans }}</p>
            </div>

            <div class="loader">
                <div class="content">
                    <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
                    <span>{{ 'pagelayout.loading'|trans }}</span>
                </div>
            </div>
        </aside>

        <footer class="app-footer"></footer>
    </div>

    <script src="{{ asset('bundles/netgenblockmanagerui/vendor/alloy-editor/alloy-editor-all-min.js') }}"></script>
    <script src="{{ asset('bundles/netgenblockmanagerui/vendor/ace-editor/ace.js') }}"></script>

    {% block javascripts %}
        <script src="/bmdev/app/scripts/vendor.js"></script>
        <script src="/bmdev/app/scripts/main.js"></script>
    {% endblock %}
</body>
</html>
