<{{ block.parameters.tag|default('h1') }}>{{ block.parameters.title|default('') }}</{{ block.parameters.tag|default('h1') }}>

{% if form is defined and form is not empty %}
    {% set form_action = path('netgen_block_manager_api_v1_edit_block_inline', { 'block_id': block.id }) %}

    <form action="{{ form_action }}" method="post" novalidate="novalidate">
        {{ form_widget(form) }}

        <input type="hidden" name="_method" value="patch" />
        <input type="submit" />
    </form>
{% endif %}
