{% extends nglayouts_admin.pageLayoutTemplate %}

{% form_theme form '@NetgenLayoutsAdmin/form/theme/nglayouts.html.twig' %}

{% trans_default_domain 'nglayouts_admin' %}

{% import '@NetgenLayoutsAdmin/admin/macros.html.twig' as macros %}

{% block title %}
    {{ 'transfer.import.title'|trans }} - {{ 'pagelayout.title'|trans }}
{% endblock %}

{% block content %}
    {{ form_start(form) }}
        {{ form_row(form.file) }}
        {{ form_row(form.overwriteExisting) }}

        <div class="form-actions">
            <button type="submit" class="nl-btn nl-btn-primary">{{ 'import.button.upload'|trans({}, 'nglayouts_forms') }}</button>
        </div>
    {{ form_end(form) }}

    {% include '@NetgenLayoutsAdmin/admin/transfer/import_results.html.twig' %}
{% endblock %}
