{% trans_default_domain 'nglayouts_admin' %}

<!DOCTYPE html>
<html lang="{{ app.request.locale|replace({'_': '-'}) }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="theme-color" content="#02a6f2">

    {{ include('@NetgenLayoutsAdmin/admin/head.html.twig') }}
    {{ include('@NetgenLayoutsAdmin/admin/favicons.html.twig') }}

    <title>
        {% block title %}
            {{ 'pagelayout.title'|trans }}
        {% endblock %}
    </title>

    {% block stylesheets %}
        {{ include('@NetgenLayoutsAdmin/admin/stylesheets.html.twig') }}
    {% endblock %}

    {% block javascripts %}
        {{ include('@NetgenLayoutsAdmin/admin/javascripts.html.twig') }}
    {% endblock %}
</head>
<body>
    <div class="ng-layouts-app">
        <div class="ng-layouts-container">
            <div class="layouts-sidebar">
                <div class="logo-wrapper">
                    <div class="logo" title="{{ pretty_package_version('netgen/layouts-core') }} {{ nglayouts.config.parameter('edition') }}"></div>
                </div>
                <div class="main-menu">
                    {{ include('@NetgenLayoutsAdmin/admin/main_menu.html.twig') }}
                </div>
            </div>

            <div class="layouts-content">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</body>
</html>
