{% extends 'WebProfilerBundle:Profiler:layout.html.twig' %}

{% block toolbar %}
    {% set layout = collector.data.layout %}

    {% set status = 'yellow' %}
    {% if layout %}
        {% set status = 'green' %}
    {% endif %}

    {% set icon %}
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
            <path fill="#AAAAAA" d="M20.1,1H3.9C2.3,1,1,2.3,1,3.9v16.3C1,21.7,2.3,23,3.9,23h16.3c1.6,0,2.9-1.3,2.9-2.9V3.9
                C23,2.3,21.7,1,20.1,1z M21,20.1c0,0.5-0.4,0.9-0.9,0.9H3.9C3.4,21,3,20.6,3,20.1V3.9C3,3.4,3.4,3,3.9,3h16.3C20.6,3,21,3.4,21,3.9
                V20.1z M5,5h14v3H5V5z M5,10h3v9H5V10z M10,10h9v9h-9V10z"/>
        </svg>

        <span class="sf-toolbar-value">
            {% if layout %}
                {{ layout.name }}
            {% else %}
                No layout resolved
            {% endif %}
        </span>
    {% endset %}

    {% if layout %}
        {% set text %}
            {% import 'NetgenBlockManagerAdminBundle:admin:macros.html.twig' as macros %}

            <div class="sf-toolbar-info-piece">
                <b>Resolved layout</b>

                <span>
                    <a href="{{ macros.layout_path(layout.id) }}" target="_blank">
                        {{ layout.name }}
                    </a>
                </span>
            </div>
        {% endset %}
    {% endif %}

    {{ include('WebProfilerBundle:Profiler:toolbar_item.html.twig') }}
{% endblock %}

{% block head %}
    {{ parent() }}

    <style type="text/css">
        .container {
            max-width:100%;
        }

        .nl-container {
            max-width:1060px;
        }
    </style>
{% endblock %}

{% block menu %}
    <span class="label">
        <span class="icon">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
                <path fill="#AAAAAA" d="M20.1,1H3.9C2.3,1,1,2.3,1,3.9v16.3C1,21.7,2.3,23,3.9,23h16.3c1.6,0,2.9-1.3,2.9-2.9V3.9
                    C23,2.3,21.7,1,20.1,1z M21,20.1c0,0.5-0.4,0.9-0.9,0.9H3.9C3.4,21,3,20.6,3,20.1V3.9C3,3.4,3.4,3,3.9,3h16.3C20.6,3,21,3.4,21,3.9
                    V20.1z M5,5h14v3H5V5z M5,10h3v9H5V10z M10,10h9v9h-9V10z"/>
            </svg>
        </span>

        <strong>Netgen Layouts</strong>
    </span>
{% endblock %}

{% block panel %}
    {% set layout = collector.data.layout %}
    {% set rule = collector.data.rule %}
    {% set blocks = collector.data.blocks %}

    <div class="sf-tabs">
        {% import 'NetgenBlockManagerAdminBundle:admin:macros.html.twig' as macros %}

        <div class="tab">
            <h3 class="tab-title">Rendered layout</h3>

            <div class="tab-content nl-container">
                {% if layout %}
                    <div class="metrics">
                        <div class="metric">
                            <span class="value">
                                <a href="{{ macros.layout_path(layout.id) }}" target="_blank">
                                    {{ layout.name }}
                                </a>
                            </span>
                            <span class="label">Layout name</span>
                        </div>

                        <div class="metric">
                            <span class="value">{{ layout.type }}</span>
                            <span class="label">Layout type</span>
                        </div>

                        <div class="metric">
                            <span class="value">{{ rule.id }}</span>
                            <span class="label">Rule ID</span>
                        </div>
                    </div>

                    <div class="metrics">
                        <div class="metric">
                            <span class="value">{{ layout.template }}</span>
                            <span class="label">Template</span>
                        </div>
                    </div>

                    <h2>Rule targets</h2>

                    <table>
                        <thead>
                            <tr>
                                <th scope="col" class="key">Target type</th>
                                <th scope="col">Target value</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for target in rule.targets %}
                            <tr>
                                <th>{{ target.type }}</th>
                                <td>{{ profiler_dump(target.value) }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <h2>Rule conditions</h2>

                    {% if rule.conditions is defined and rule.conditions|length > 0 %}
                        <table>
                            <thead>
                                <tr>
                                    <th scope="col" class="key">Condition type</th>
                                    <th scope="col">Condition value</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for condition in rule.conditions %}
                                <tr>
                                    <th>{{ condition.type }}</th>
                                    <td>{{ profiler_dump(condition.value) }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p class="empty">
                            Rule does not have any conditions.
                        </p>
                    {% endif %}
                {% else %}
                    <div class="empty">
                        <p>No layout was resolved for this request.</p>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="tab">
            <h3 class="tab-title">Rendered blocks</h3>

            <div class="tab-content">
                {% if blocks|length > 0 %}
                    <div class="metrics">
                        <div class="metric">
                            <span class="value">{{ blocks|length }}</span>
                            <span class="label">Blocks rendered</span>
                        </div>
                    </div>

                    <table>
                        <thead>
                            <tr>
                                <th scope="col">Block ID</th>
                                <th scope="col">Layout ID</th>
                                <th scope="col">Shared</th>
                                <th scope="col">Block info</th>
                                <th scope="col">Template</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for block in blocks %}
                            <tr>
                                <th>{{ block.id }}</th>
                                <td class="font-normal">
                                    <a href="{{ macros.layout_path(block.layout_id) }}" target="_blank">
                                        {{ block.layout_name }}
                                    </a>
                                </td>
                                <td class="font-normal">{{ block.layout_shared ? 'Yes' : 'No' }}</td>
                                <td class="font-normal">
                                    <div class="metadata">
                                        <strong>Zone</strong>: {{ block.zone }}
                                    </div>
                                    <div class="metadata">
                                        <strong>Block definition</strong>: {{ block.definition }}
                                    </div>
                                    <div class="metadata">
                                        <strong>View type</strong>: {{ block.view_type}}
                                    </div>
                                </td>
                                <td>{{ block.template }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="empty">
                        <p>No blocks were rendered during this request.</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
