{% trans_default_domain 'ngbm_app' %}

{% set query_types = ngbm.config.parameter('query_types') %}
{% set can_change_collection = query_types|length > 0 %}

{% if collections.default is defined and can_change_collection %}
    {% set collection = collections.default %}

    {% set type_manual = constant('TYPE_MANUAL', collection) %}
    {% set type_dynamic = constant('TYPE_DYNAMIC', collection) %}

    {% set collection_types = {
        'manual': 'block.edit.collection_type.manual_collection'|trans,
        'dynamic': 'block.edit.collection_type.dynamic_collection'|trans,
    } %}

    <div class="xeditable" data-xeditable-name="collection_type">
        <div class="current">
            {% set current_type = (collection.type == type_manual ? 'manual' : 'dynamic') %}

            <label>{{ 'block.edit.collection_type'|trans }} <a class="bm-tooltip" data-placement="top"><i class="material-icons">help</i><div class="tooltip-box"><div class="tooltip-text">{{ 'block.edit.collection_type.tooltip'|trans }}</div></div></a></label>
            <a href="#" class="js-edit"><span class="text">{{ collection_types[current_type] }}</span><span class="icon">{{ 'block.edit.change'|trans }}</span></a>

            {% if collection.type == type_dynamic and query_types|length > 1 %}
                <label>{{ 'block.edit.query_type'|trans }}</label>
                <a href="#" class="js-edit"><span class="text">{{ collection.query.queryType.config.name }}</span><span class="icon">{{ 'block.edit.change'|trans }}</span></a>
            {% endif %}
        </div>

        <div class="form js-dependable-selects-group">
            <div>
                <label for="collection-type">{{ 'block.edit.collection_type'|trans }} <a class="bm-tooltip" data-placement="top"><i class="material-icons">help</i><div class="tooltip-box"><div class="tooltip-text">{{ 'block.edit.collection_type.tooltip'|trans }}</div></div></a></label>
                <select id="collection-type" name="block_collection[new_type]" class="js-skip-on-change js-master">
                    <option {% if collection.type == type_manual %} selected="selected" {% endif %} value="manual">{{ collection_types['manual'] }}</option>

                    {% if query_types|length > 0 %}
                        <option {% if collection.type == type_dynamic %} selected="selected" {% endif %} value="dynamic">{{ collection_types['dynamic'] }}</option>
                    {% endif %}
                </select>
                <p class="input-note">{{ 'block.edit.notice.change_collection_type'|trans }}</p>
            </div>

            {% if query_types|length > 0 %}
                <div class="js-dependable" data-linked-value="dynamic">
                    <label for="query-types">{{ 'block.edit.query_type'|trans }}</label>
                    <select id="query-types" name="block_collection[query_type]" class="js-skip-on-change">
                        {% for query_type in query_types %}
                            <option {% if collection.query is not null and collection.query.queryType.type == query_type.type %} selected="selected" {% endif %} value="{{ query_type.type }}">{{ query_type.config.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endif %}

            <div class="actions">
                <a href="#" class="btn btn-link js-cancel">{{ 'block.edit.cancel'|trans }}</a>
                <a href="#" class="btn btn-primary js-apply">{{ 'block.edit.apply'|trans }}</a>
            </div>
        </div>
    </div>
{% endif %}
