{% extends '@NetgenBlockManagerAdmin/app/form/modal.html.twig' %}

{% trans_default_domain 'ngbm_forms' %}

{% set collection_item = form.vars.configurable %}
{% set visibility_form = form.children.visibility %}

{% form_theme visibility_form _self %}

{% block header %}
    {{ 'config.collection_item.visibility.header'|trans }}: {{ cms_item.name }}
{% endblock %}

{% block children %}
    {% if not cms_item.visible %}
        <p class="warning">{{ 'config.collection_item.visibility.warning'|trans|raw }}</p>
    {% endif %}

    {{ form_row(visibility_form.children.visibility_status, {label: false}) }}
    {{ form_row(visibility_form.children.visible_from, {attr: {placeholder: 'config.collection_item.visibility.visible_from.placeholder'|trans}}) }}
    {{ form_row(visibility_form.children.visible_to, {attr: {placeholder: 'config.collection_item.visibility.visible_to.placeholder'|trans}}) }}
{% endblock %}

{% block buttons %}
    <button type="button" class="btn btn-link action_cancel">{{ 'config.collection_item.visibility.cancel'|trans }}</button>
    <button type="submit" class="btn btn-primary action_apply">{{ 'config.collection_item.visibility.submit'|trans }}</button>
{% endblock %}

{%- block _edit_visibility_visibility_status_widget -%}
    <div {{ block('widget_container_attributes') }}>
        {% set scheduled_value = constant('Netgen\\BlockManager\\API\\Values\\Collection\\Item::VISIBILITY_SCHEDULED') %}

        {%- for child in form %}
            <div class="radio">
                {% if child.vars.value == scheduled_value %}
                    {{- form_widget(child, {attr: {'data-scheduling': 'true'}}) -}}
                {% else %}
                    {{- form_widget(child) -}}
                {% endif %}

                {{- form_label(child, null, {translation_domain: choice_translation_domain}) -}}
            </div>
        {% endfor -%}
    </div>
{%- endblock _edit_visibility_visibility_status_widget -%}
