{% extends 'NetgenBlockManagerAdminBundle:admin:pagelayout.html.twig' %}

{% trans_default_domain 'ngbm_admin' %}

{% block title %}
    <title>{{ 'layouts.title'|trans }} - {{ 'pagelayout.title'|trans }}</title>
{% endblock %}

{% block content %}
    <div id="layouts">
        <div class="l-layouts">
            {% for layout in layouts %}
                <div class="nl-panel nl-layout">
                    {{ ngbm_render_layout(layout, [], 'admin') }}
                </div>
            {% else %}
                <p>{{ 'layouts.no_layouts'|trans }}</p>
            {% endfor %}
        </div>

        <a href="{{ path('ngbm_app') }}" target="_blank" id="add-new-button" class="nl-btn nl-btn-primary">
            <i class="material-icons">add</i> {{ 'layouts.create_layout'|trans }}
        </a>
    </div>
{% endblock %}
