{% import 'NetgenBlockManagerAdminBundle:admin:macros.html.twig' as macros %}

{% trans_default_domain 'ngbm_admin' %}

<div class="nl-layout-content" data-id="{{ layout.id }}">
    <div class="nl-panel-head">
        <div class="panel-head-title">

            <div class="panel-icon">
                <i class="layout-icon {{ layout.layoutType.identifier }}"></i>
            </div>

            <div class="panel-name">
                <a href="{{ macros.layout_path(layout.id) }}" class="js-open-bm">{{ layout.name }}</a>
            </div>

            {% if layout.status == constant('STATUS_DRAFT', layout) %}
                <span class="unpublished-label">{{ 'layouts.layout.unpublished_draft'|trans }}</span>
            {% endif %}

            <div class="nl-dropdown" data-position="right">
                <button class="nl-btn nl-btn-icon nl-dropdown-toggle">
                    <i class="material-icons">more_vert</i>
                </button>
                <ul class="nl-dropdown-menu">
                    <li><a href="{{ macros.layout_path(layout.id) }}" class="js-layout-edit js-open-bm">{{ 'layouts.layout.edit_layout'|trans }}</a></li>
                    <li><a href="#" class="js-layout-copy">{{ 'layouts.layout.copy_layout'|trans }}</a></li>
                    <li><a href="#" class="js-layout-delete">{{ 'layouts.layout.delete_layout'|trans }}</a></li>
                </ul>
            </div>

        </div>

        <div class="panel-head-info">
            <div class="meta-info nl-tt" title="{{ 'layouts.layout.number_of_rules'|trans }}">
                <i class="material-icons" role="presentation">dns</i> <span class="meta-badge js-target-counter">{{ rule_count }}</span>
            </div>
        </div>
    </div>
</div>
