{% extends '@NetgenLayoutsAdmin/form/modal.html.twig' %}

{% form_theme form '@NetgenLayoutsAdmin/form/theme/nglayouts.html.twig' %}
{% form_theme form.layouts _self %}

{% trans_default_domain 'nglayouts_admin' %}

{% block header %}
    {{ 'shared_layouts.cache.related_layouts.title'|trans }}: <strong>{{ layout.name }}</strong>
{% endblock %}

{% block _clear_layouts_cache_layouts_widget %}
    {% if form.children is not empty %}
        <table class="nl-caches-table">
            <thead>
                <tr>
                    <th class="nl-caches-checkbox"><input type="checkbox" id="toggle-all-cache"><label for="toggle-all-cache"></label></th>
                    <th class="nl-caches-name">{{ 'shared_layouts.related_layouts.layout_name'|trans }}</th>
                    <th class="nl-caches-zones">{{ 'shared_layouts.related_layouts.zones'|trans }}</th>
                    <th class="nl-caches-action">
                        <button type="submit" class="nl-btn nl-btn-primary action-apply">{{ 'shared_layouts.cache.related_layouts.button.clear'|trans }}</button>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for choice in form %}
                    {% set related_layout = choice.vars.layout %}

                    <tr>
                        <td>{{ form_widget(choice) }}{{ form_label(choice) }}</td>
                        <td>{{ related_layout.name }}</td>
                        <td colspan="2">
                            {% for zone in related_layout.zones %}
                                {% if zone.hasLinkedZone and zone.linkedZone.layoutId.toString == layout.id.toString %}
                                    <p>{{ related_layout.layoutType.zone(zone.identifier).name }}</p>
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="nl-caches-empty">{{ 'shared_layouts.related_layouts.no_related_layouts'|trans }}</p>
    {% endif %}
{% endblock %}

{% block children %}
    {% if error %}
        <ul class="errors">
            <li>{{ 'shared_layouts.cache.related_layouts.error'|trans }}</li>
        </ul>
    {% endif %}

    {{ form_row(form.children.layouts, {layout: layout, label: false}) }}
{% endblock %}

{% block actions %}{% endblock %}
