{%- block form_row -%}
    <div {% if errors|length > 0 %} class="error-input" {% endif %}>
        {%- if 'checkbox' in block_prefixes or 'radio' in block_prefixes -%}
            {{- form_widget(form) -}}
            {{- form_label(form) -}}
            {{- form_errors(form) -}}
        {%- else -%}
            {{- form_label(form) -}}
            {{- form_widget(form) -}}
            {{- form_errors(form) -}}
        {%- endif -%}
    </div>
{%- endblock form_row -%}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <ul class="errors">
            {%- for error in errors -%}
                <li>{{ error.message }}</li>
            {%- endfor -%}
        </ul>
    {%- endif -%}
{%- endblock form_errors -%}

{%- block ngbm_key_values_widget -%}
    {% macro prototype(form) %}
        <div class="multientry-item">
            {{ form_widget(form) }}
        </div>
    {% endmacro %}

    {% import _self as self %}

    {% set key_form = form.children[key_name] %}
    {% set values_form = form.children[values_name] %}

    {{- form_row(key_form) -}}

    <div class="multientry" data-prototype="{{ self.prototype(values_form.vars.prototype)|e }}">
        {{- form_label(values_form) -}}
        {{- form_errors(values_form) -}}

        <div class="multientry-items">
            {% for value_form in values_form %}
                {{- form_errors(value_form) -}}
                {{ self.prototype(value_form) }}
            {% endfor %}
        </div>

        <a href="#" class="nl-btn nl-btn-link multientry_add">Add value</a>
    </div>
{%- endblock ngbm_key_values_widget -%}

{%- block ngbm_compound_boolean_widget -%}
    <div
        data-compound-checkbox="true"
        {% if checkbox_reverse %}data-compound-reverse="true"{% endif %}
        {{ block('widget_container_attributes') }}
    >
        {%- if form.parent is empty -%}
            {{- form_errors(form) -}}
        {%- endif -%}

        <div class="checkbox">
            {% set checkbox = form.children[form.vars.checkbox_name] %}

            {{- form_errors(checkbox) -}}
            {{- form_widget(checkbox) -}}
            {{- form_label(checkbox) -}}

            <div class="children">
                {{- form_rest(form) -}}
            </div>
        </div>
    </div>
{%- endblock ngbm_compound_boolean_widget -%}
