{%- use 'form_div_layout.html.twig' with form_row as base_form_row -%}

{%- block form_row -%}
    {%- if 'checkbox' in block_prefixes or 'radio' in block_prefixes -%}
        <div>
            {{- form_errors(form) -}}
            {{- form_widget(form) -}}
            {{- form_label(form) -}}
        </div>
    {%- else -%}
        {{- block('base_form_row') -}}
    {%- endif -%}
{%- endblock form_row -%}

{%- block ngbm_key_values_widget -%}
    {% macro prototype(form) %}
        <div class="multientry-item">
            {{ form_widget(form) }}
        </div>
    {% endmacro %}

    {% set key_form = form.children[key_name] %}
    {% set values_form = form.children[values_name] %}

    {{- form_row(key_form) -}}

    <div class="multientry" data-prototype="{{ _self.prototype(values_form.vars.prototype)|e }}">
        {{- form_label(values_form) -}}
        {{- form_errors(values_form) -}}

        <div class="multientry-items">
            {% for value_form in values_form %}
                {{- form_errors(value_form) -}}
                {{ _self.prototype(value_form) }}
            {% endfor %}
        </div>

        <a href="#" class="multientry_add">Add value</a>
    </div>
{%- endblock ngbm_key_values_widget -%}

{%- block ngbm_compound_boolean_widget -%}
    <div data-compound-checkbox="true" {{ block('widget_container_attributes') }}>
        {%- if form.parent is empty -%}
            {{- form_errors(form) -}}
        {%- endif -%}

        <div class="checkbox">
            {% set checkbox = form.children[form.vars.checkbox_name] %}

            {{- form_errors(checkbox) -}}
            {{- form_widget(checkbox) -}}
            {{- form_label(checkbox) -}}

            <div class="children">
                {{- form_rest(form) -}}
            </div>
        </div>
    </div>
{%- endblock ngbm_compound_boolean_widget -%}
