{%- block range_widget -%}
    {% set min = attr.min|default(null) %}
    {% set max = attr.max|default(null) %}
    <div class="range-range">
        <span class="range-min">{% if min != null %}{{ min }}{% endif %}</span>
        <span class="range-max">{% if max != null %}{{ max }}{% endif %}</span>
    </div>
    <input type="range" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{%- endblock range_widget -%}

{%- block form_row -%}
    <div {% if errors|length > 0 %} class="error-input" {% endif %}>
        {%- if 'checkbox' in block_prefixes or 'radio' in block_prefixes -%}
            {{- form_widget(form) -}}
            {{- form_label(form) -}}
            {{- form_errors(form) -}}
        {%- else -%}
            {{- form_label(form) -}}
            {{- form_widget(form) -}}
            {{- form_errors(form) -}}
        {%- endif -%}
    </div>
{%- endblock form_row -%}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <ul class="errors">
            {%- for error in errors -%}
                <li>{{ error.message }}</li>
            {%- endfor -%}
        </ul>
    {%- endif -%}
{%- endblock form_errors -%}

{%- block ngbm_key_values_widget -%}
    {% macro prototype(form) %}
        <div class="multientry-item">
            {{ form_widget(form) }}
        </div>
    {% endmacro %}

    {% import _self as self %}

    {% set key_form = form[key_name] %}
    {% set values_form = form[values_name] %}

    {{- form_row(key_form) -}}

    <div class="multientry" data-prototype="{{ self.prototype(values_form.vars.prototype)|e }}">
        {{- form_label(values_form) -}}
        {{- form_errors(values_form) -}}

        <div class="multientry-items">
            {% for value_form in values_form %}
                {{- form_errors(value_form) -}}
                {{ self.prototype(value_form) }}
            {% endfor %}
        </div>

        <a href="#" class="nl-btn nl-btn-link multientry_add">Add value</a>
    </div>
{%- endblock ngbm_key_values_widget -%}

{%- block ngbm_compound_boolean_row -%}
    <div
        data-compound-checkbox="true"
        {% if reverse %}data-compound-reverse="true"{% endif %}
        {{ block('widget_container_attributes') }}
    >
        <div class="checkbox">
            {{- form_errors(form._self) -}}
            {{- form_widget(form._self) -}}
            {{- form_label(form._self) -}}

            <div class="children">
                {{- form_rest(form) -}}
            </div>
        </div>
    </div>
{%- endblock ngbm_compound_boolean_row -%}
