{% extends 'form_div_layout.html.twig' %}

{%- block checkbox_row -%}
    {{ block('checkbox_radio_row') }}
{%- endblock checkbox_row -%}

{%- block radio_row -%}
    {{ block('checkbox_radio_row') }}
{%- endblock radio_row -%}

{%- block checkbox_label -%}
    {{ block('form_label') }}
{%- endblock checkbox_label -%}

{%- block radio_label -%}
    {{ block('form_label') }}
{%- endblock radio_label -%}

{%- block checkbox_radio_row -%}
    <div class="row-input{% if errors|length > 0 %} error-input{% endif %}{% if form.vars.disabled %} disabled-input{% endif %}">
        {{- form_widget(form) -}}
        {{- form_label(form) -}}
        {{- form_errors(form) -}}
    </div>
{%- endblock checkbox_radio_row -%}
