{% extends 'form_div_layout.html.twig' %}

{%- block checkbox_row -%}
    {{ block('checkbox_radio_row') }}
{%- endblock checkbox_row -%}

{%- block radio_row -%}
    {{ block('checkbox_radio_row') }}
{%- endblock radio_row -%}

{%- block checkbox_label -%}
    {{ block('form_label') }}
{%- endblock checkbox_label -%}

{%- block radio_label -%}
    {{ block('form_label') }}
{%- endblock radio_label -%}

{%- block checkbox_radio_row -%}
    {% if errors|length > 0 %}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' error-input')|trim}) -%}
    {% endif %}

    <div {{ block('attributes') }}>
        {{- form_widget(form) -}}
        {{- form_label(form) -}}
        {{- form_errors(form) -}}
    </div>
{%- endblock checkbox_radio_row -%}
